<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'youtube/style.css' %}"> 
<title>TinBullet</title>
</head>

<body>
{%if user.is_authenticated %}
    <p class="user">Welcome: {{user}}</p>
    <div align="right"><a class="logout" href="/tinbullet/accounts/logout">Logout</a></div>
{%endif%}
<div class="container">
    <div class="containerheader"><a class="containerLink" href="{{cur_site.site_url}}" target="_blank">
        <div class="siteIcon">
            <img class="site_icon" src="{% static 'youtube/' %}{{cur_site.icon}}">
        </div>
        <div class="siteName">{{cur_site.site_name}}</div>
    </a></div>
    <div class="containerbody">
    {% if video_list %} 
        {% for video in video_list %}
            {% if forloop.counter|add:"-1"|divisibleby:"3" %}
                <div>
                    <p class="chantitle">{{video.channel}}</p>
                    <form class="chdelform" action="{% url 'mainApp:index' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="remchannel" value="{{video.channel}}">
                        <button class="deletebox" >X</span>
                    </form>
                </div>
            {% endif %}
            <div class="vidlinkthumb">
                <img class='thumb' src="{{video.video_thumb}}">
                <span><a class='vidlink' href="{{video.video_url}}" target="_blank">{{video.video_title}}</a></span>
            </div>
        {% endfor %}
    {% else %}
        <p class="none_message">No channels have been added</p>
    {% endif %}
        <div class="addChannel">
            <p>&#8853 Add Channel</p>
            <form action="{% url 'mainApp:pickchannels' %}" method="POST"><div class="addChannelDetails">
                {% csrf_token %}
                <div class="channelSearch">
                    <label for="chaninput">Channel Name:</label>
                    <input class="chaninput" type="text" name="input">
                </div>
                <button class="normalbutton" type="submit">Search</button>
            </div></form>
        </div>
    </div>
    
    <div class="containerfooter">
        
    </div>
</div>
</body>
