<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'youtube/style.css' %}"> 
<title>Eat Butter</title>
</head>

<body>
<div class="container">
    <div class="containerheader"><a class="containerLink" href="{{cur_site.site_url}}" target="_blank">
        <div class="siteIcon">
            <img class="site_icon" src="{% static 'youtube/' %}{{cur_site.icon}}">
        </div>
        <div class="siteName">{{cur_site.site_name}}</div>
    </a></div>
    <div class="containerbody">
    {% if cur_channels %} 
        <ul>
        {% for channel in cur_channels %}
            <li class="item_list"><a href="{{channel.channel_url}}" target="_blank">Seems to be working</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="none_message">No channels have been added</p>
    {% endif %}
        <div class="addChannel">
            <p>&#8853 Add Channel</p>
            <form action="{% url 'mainApp:pickchannels' %}" method="POST"><div class="addChannelDetails">
                {% csrf_token %}
                <div class="channelSearch">
                    <label for="chaninput">Channel Name:</label>
                    <input class="chaninput" type="text" name="input">
                </div>
                <div class="dataQty">
                    <label for="dataQty">Number of videos:</label>
                    <input class="qtyinputs" type="radio" name="chqty" value="1">1
                    <input class="qtyinputs" type="radio" name="chqty" value="3">3
                    <input class="qtyinputs" type="radio" name="chqty" value="5">5
                </div>
                <input type="submit" value="Search">
            </div></form>
        </div>
    </div>
    
    <div class="containerfooter">
        <p>{{channel0}}</p>
    </div>
</div>
</body>
