.container {
    margin:auto;
    width:80%;
    min-height:400px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
}
.containerLink:visited, .containerLink:link {
    color:black;
    text-decoration: none;
}

.containerheader {
    border-bottom:1px solid black;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.5em;
    padding: 10px 20px 10px 20px;
}

.siteIcon, .siteName {
    display: inline-block;
}

.addChannel {
    color:green;
    width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    display: inline-block;
}

.addChannelDetails {
    width:95%;
    display: none;
    max-width:800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1em;
    text-align: left;
    color:black;
    border-radius: 10px;
    padding-bottom: 30px;
}

.addChannel:hover .addChannelDetails {
    display: block;
    margin:auto;
}

.channelSearch {
    margin:20px;
}

.dataQty {
    width:100%;
    margin:20px;
}

.chaninput {
    width:100%;

}

.qtyinputs {
    width:10%;
}

button {
    display:block;
    font-size: 1.2em;
    width:20%;
    min-width:150px;
    border-radius: 5px;
    margin:auto;
    background-color: green;
    color:white;
}

.channelThumb {
    width: 30%;
    display: inline-block;

}

.channelName {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2em;
    display: inline-block;

}

.channelDesc {
    font-family: Impact, Charcoal, sans-serif;

}